* {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body,
html {
  background-image: url('wood.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  overflow: hidden;
  background-clip: border-box;
}


h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 10vmin;
  color: black;
  color: cadetblue;
  text-shadow: 
    3px 3px 0 #000
}

.buttonsContainer {
  perspective: 200px;
  margin-bottom: -2vh;
}

.btn {
  display: inline-block; 
  text-align: center;
  margin: 3vmin;
  height: 6vmin;
  width: 6vmin;
  border: 2px solid rgb(29, 29, 29);
  background-color: cadetblue;
  color: rgb(219, 219, 150);
  font-size: 5vmin;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s ease-in;
  box-shadow: 2px 2px 4px black;

  .btnLabel {
    width: calc(0.2rem + 3vmin);
    height: calc(0.4rem + 3vmin);
  }

  &:hover {
    background-color: rgb(0, 194, 200);
    // box-shadow: 0 0 10px orange;
  }
}

.btn:hover {
  background-color: rgb(64, 170, 174);
  box-shadow: 10px 5px 10px black;
}


.wrapper {
  min-height: 100vh;
}

.header {
  text-align: center;
  // min-height: 10vh;
  align-items: center;
  justify-content: center;
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin: auto;
  margin-bottom: 2vh;

  // border: 1px solid gold;
}

.cards-table {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 2vmin;
  column-gap: 2vmin;
  width: fit-content;
  height: fit-content;
  margin: auto;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
    gap: 14px;
  }
  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  @media screen and (max-width: 300px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}